

body{
  background-color: black;
  color: white;
}
h1{
  /* font-family: 'Dancing Script', cursive;
  font-family: 'Inter', sans-serif;
  font-family: 'Outfit', sans-serif; */
  font-family: 'Work Sans', sans-serif;
}

p{

  font-family: 'Inter', sans-serif;
}